{% extends "admin.html" %}
{% load static %}
{% block content %}

<h2 style="font-weight: 700;  color: #444;">Welcome to Administrator Panel</h2>
<br>
<h3 style="font-weight: 600;">TPR Today</h3>
<div class="row">
{% for d in data %}
    <div class="col-xs-6 col-md-4">
        <div class="panel">
            <div class="panel-body">
                <div class="card">
                    <div class="card-header">
                        <h4 style="font-weight: 500;">{{d.district}}</h4>
                    </div>
                    <div class="card-body">
                        District admin : {{d.districtadminnm}}<br>
                        TPR Today : {{d.getTPR}} %
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}